<footer>
    <nav class="footer-media-nav">
        <i class="fa fa-facebook-official"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-linkedin-square"></i>
    </nav>
    <nav class="footer-nav">
        <a href="/" class="footer-option">&copy;Events with us</a>
        <a href="/about" class="footer-option">About</a>
        <a href="/contact" class="footer-option">Contact</a>
    </nav>
</footer>
</body>

</html>