<%- include('./partials/header.ejs') %>

<main>
    <div class="content">
        <form action="mailto:localhost@eventswithus.com" method="POST" enctype="text/plain">
            <label >Subject:</label><br>
            <input type="text" name="subject"><br>
            <label >Email:</label><br>
            <input type="text" name="email"><br>
            <label >Message:</label><br>
            <textarea name="comments" cols="30" rows="10"></textarea><br>
            <input type="submit" value="submit">
        </form>
    </div>
</main>


<%- include('./partials/footer.ejs') %>