<%- include('./partials/header.ejs') %>
    <!--
        main section
    -->
    <main>
        <Section class="brand-description-section">
            <h2 class="brand-description-section-heading">Welcome to <span class="brand-name">Events with Us</span>
                website.</h2>
            <article class="brand-description-article">
                <h3 class="brand-description-article-heading">About the Brand</h3>
                <p class="brand-description">
                    Attend,invite and create new events to connect with people. whether you are looking for a study
                    buddy,
                    trying to connect with others who are intersted in something you love to do or want to try something
                    new. <br><br>
                    Our website also provides invitation feature. You can invite 100 people per event. Our website
                    provides search feature, you can serach for specific category, host, location and text in
                    description.
                    <br><br>
                    Check out the Events section to browse available/upcoming Events!
                </p>
            </article>
        </Section>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint perferendis rem blanditiis esse. Quae molestiae
        mollitia vero. Perspiciatis a ratione neque! Ipsa, deserunt consectetur rerum voluptatibus sapiente nemo aliquid
        illo provident? Laboriosam perferendis molestias similique quasi? Esse autem dolores dignissimos numquam dicta
        possimus ad tenetur libero quae ipsum perspiciatis maxime ab necessitatibus ipsam, earum blanditiis voluptatem
        repudiandae? Optio illo porro minima aliquam soluta hic pariatur, et rerum, ipsum harum est saepe cumque vel
        facilis aspernatur at amet inventore ratione quae possimus, provident placeat aperiam! Doloribus perferendis
        nostrum, dolorem dolores nemo, ducimus unde laboriosam deleniti non corporis illo praesentium possimus libero.
    </main>
    <!--
        footer section
    -->
    <%- include('./partials/footer.ejs') %>